@use './config' as c;
.expandible{
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: c.$tablet) {
        flex-direction: column;
    }
    .expanded{
        max-height: 250px!important;
        transition: 0.5s;
        
    }
    .article
    {
        border: 1px solid black;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30vw;
        @media (max-width: c.$tablet) {
            width: 80vw;
        }

        >p {
            max-height: 20px;
            overflow: hidden;
            transition: 0.5s;
            margin: 0;
            text-align: center;
            align-self: center;
        }
        >button{
            margin-bottom: 15px;
            margin-top: 15px;
        }
    }
    

}